* {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.outer {
	width: 1254px;
	margin: 0px auto;
	overflow: hidden;
}

.outerHead {
	width: 1254px;
	position: fixed;
	top: 0px;
	margin-bottom: 10px;
	overflow: hidden;
	background-color: #F1F1F1
}

.showHead {
	width: 90px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	letter-spacing: 4px;
	font-size: 14px;
	float: left;
}

.titleHead {
	position: fixed;
	top: 32px;
	background-color: #ffffff;
	width: 1254px;
}

.titleHead ul {
	overflow: hidden;
	width: 1220px;
	margin: 0px auto;
	border: 1px solid #F1F1F1;
}

.titleHead ul li {
	height: 30px;
	float: left;
	line-height: 28px;
	text-align: left;
	padding: 0px auto;
	font-size: 14px;
	font-weight: 300;
}

.commonList {
	width: 1254px;
	float: left;
	margin-top: 62px;
}

.nullDiv {
	text-align: center;
	width: 1220px;
	height: 100px;
	line-height: 100px;
	font-size: 18px;
}

.commonList .showList {
	width: 1220px;
	height: 95px;
	overflow: hidden;
	border: 1px solid #F1F1F1;
	margin: 10px auto;
	font-size: 12px;
}

.commonList .showList input {
	float: left;
	margin: 39px 4px;
}

.commonList .showList .pic {
	width: 80px;
	height: 84px;
	float: left;
	padding: 8px
}

.commonList .showList .pic img {
	width: 72px;
	height: 72px;
}

.titleM, .priceM, .numberM, .soldM, .countM, .stateM, .reviewM,
	.logisticsM {
	float: left;
	height: 92px;
	padding: 4px;
}

.soldM, .countM, .stateM, .reviewM {
	width: 120px;
	border-right: 1px solid #F1F1F1;
}

.commonList .showList .titleM {
	width: 300px;
}

.commonList .showList .priceM {
	width: 100px;
}

.commonList .showList .numberM {
	width: 50px;
}

.commonList .showList .logisticsM {
	width: 104px;
}

.toPay {
	width: 80px;
	height: 44px;
	color: #ffffff;
	letter-spacing: 5px;
	background-color: #00b55a;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	font-weight: 700;
	font-family: arial;
	border: solid #00b55a;
	position: relative;
	left: 1158px;
}

.toPay:hover {
	
}